@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-brand {
    @apply font-satisfy font-thin text-3xl text-sky-900;
  }
  .nav-container {
    @apply flex sm:flex-row justify-center sm:justify-between  px-4  py-8 w-full border items-center bg-white max-w-[1200px] z-[2] fixed top-0;
  }
  .log-btn {
    @apply border-[0.05rem] border-sky-600 rounded-md outline outline-[0.2px] text-sky-600 hover:bg-sky-600
            hover:text-white hover:outline-sky-600 hover:outline-offset-2 px-3 py-1.5 disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-white;
  }
  .reset-btn {
    @apply border-[0.05rem] border-rose-600 rounded-md outline outline-[0.2px] text-rose-600 hover:bg-rose-600
            hover:text-white hover:outline-rose-600 hover:outline-offset-2 px-3 py-1.5 disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-white;
  }
  .inp {
    @apply border-[0.05rem] py-1.5 px-1 rounded-lg  focus:outline-sky-600 placeholder:text-start;
  }
  .save-btn {
    @apply border-[0.05rem] border-sky-600 rounded-sm outline outline-[0.1px] text-sky-600 py-0.5 max-w-max px-1.5 self-end hover:bg-sky-600
            hover:text-white hover:outline-sky-600 hover:outline-offset-2;
  }
}
